.so-widget-sow-button-wire-2f77d613f554 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-wire-2f77d613f554 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-wire-2f77d613f554 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-button-wire-2f77d613f554 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.15em;
  padding: 1em 2em;
  background: transparent;
  border: 2px solid #181a1f;
  color: #181a1f !important;
  -webkit-border-radius: 0em;
  -moz-border-radius: 0em;
  border-radius: 0em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-wire-2f77d613f554 .ow-button-base a:visited,
.so-widget-sow-button-wire-2f77d613f554 .ow-button-base a:active,
.so-widget-sow-button-wire-2f77d613f554 .ow-button-base a:hover {
  color: #181a1f !important;
}
.so-widget-sow-button-wire-2f77d613f554 .ow-button-base a.ow-button-hover:hover {
  background: #181a1f;
  color: #ffffff !important;
}