@font-face {
	font-family: star;
	src: url(../../../../../plugins/woocommerce/assets/fonts/star.eot);
	src: url(../../../../../plugins/woocommerce/assets/fonts/star.eot?#iefix) format("embedded-opentype"), url(../../../../../plugins/woocommerce/assets/fonts/star.woff) format("woff"), url(../../../../../plugins/woocommerce/assets/fonts/star.ttf) format("truetype"), url(../../../../../plugins/woocommerce/assets/fonts/star.svg#star) format("svg");
	font-weight: 400;
	font-style: normal;
}

.woocommerce-active .site-header .col-full {
	position: relative;
}

.woocommerce-active .site-branding,
.woocommerce-active .site-logo-anchor {
	float: left;
}

.site-header-cart {
	margin-left: 0;
	padding: 0;
	list-style-type: none;
}

.site-header-cart .cart-contents {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 2.244em;
	height: 2.244em;
	background-color: rgba(0, 0, 0, 0.05);
	text-indent: -9999px;
}

.site-header-cart .cart-contents:after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	font-family: "ElegantIcons";
	line-height: 2.244;
	text-align: center;
	text-indent: 0;
	content: "\e07a";
}

.site-header-cart .cart-contents span {
	display: none;
}

.site-header-cart .widget_shopping_cart {
	display: none;
	background-color: #2c2d33;
}

.woocommerce-mini-cart__empty-message {
	color: rgba(255, 255, 255, 0.7);
}

.header-shopping-cart .woocommerce-mini-cart__empty-message {
	margin: 10px;
}

.site-search {
	clear: both;
	font-size: 0.857em;
}

.site-search .widget_product_search input[type=search],
.site-search .widget_product_search input[type=text] {
	padding: 1.387em 1.618em 1.387em 3.631em;
	line-height: 1;
}

.site-search .widget_product_search form:before {
	top: 1.387em;
	left: 1.618em;
}

.site-search .widget_product_search #searchsubmit {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute!important;
}

.sidebar-shop .widget_product_search input[type=search] {
	margin-bottom: 20px;
}

.sidebar-shop .widget_product_search input[type=submit] {
	width: 100%;
}

table.shop_table_responsive tbody th,
table.shop_table_responsive thead {
	display: none;
}

table.shop_table_responsive tr td {
	display: block;
}

table.shop_table_responsive tr td:before {
	font-weight: 700;
	content: attr(data-title) ": ";
}

ul.products {
	margin: 0;
	margin-right: -15px;
	margin-left: -15px;
	padding-top: 70px;
	padding-right: 0;
	padding-left: 0;
}

ul.products::before {
	display: table;
	content: " ";
}

ul.products::after {
	display: table;
	clear: both;
	content: "";
}

ul.products li.product {
	position: relative;
	margin-bottom: 4.236em;
	margin-left: 0;
	text-align: center;
	list-style: none;
}

ul.products li.product .price,
ul.products li.product .star-rating {
	margin: 0 auto 1em;
}

ul.products li.product .price {
	display: block;
	color: #60646c;
	font-weight: 400;
}

ul.products li.product .price ins {
	margin-left: 0.618em;
	background-color: transparent;
	font-weight: 700;
}

ul.products li.product h2,
ul.products li.product h3,
.wccm-td div {
	margin: 15px 0 5px;
	color: #111;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.products li.product .star-rating {
	margin-bottom: 5px;
	font-size: 12px;
}

ul.products li.product img {
	display: block;
	margin: 0 auto 1.618em;
}

ul.products li.product.product-category img {
	margin-bottom: 1.618em;
}

ul.products li.product .button {
	margin-bottom: 0.236em;
}

.single-product div.product {
	overflow: hidden;
	position: relative;
}

.single-product div.product .product_meta .posted_in,
.single-product div.product .product_meta .sku_wrapper,
.single-product div.product .product_meta .tagged_as {
	display: block;
	padding: 0.3em 0;
	border-bottom: none;
}

.single-product div.product::after {
	display: table;
	clear: both;
	content: "";
}

.single-product div.product .images,
.single-product div.product .summary {
	margin-top: 0;
	margin-bottom: 2.618em;
}

.single-product div.product .images img {
	width: 100%;
}

.single-product div.product .images > img {
	margin-bottom: 1.618em;
}

.single-product div.product .images .woocommerce-main-image {
	display: block;
	margin-bottom: 1.618em;
}

.single-product .product_title {
	margin: 0 0 20px;
	color: #111;
	font-family: "Roboto Condensed", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.single-product div.product .images .thumbnails a.zoom.last {
	clear: right;
	margin-right: 0;
}

.single-product div.product .images .thumbnails a.zoom.first {
	clear: both;
	margin-left: 0;
}

.single-product div.product .images .thumbnails a.zoom {
	float: left;
	width: 15%;
	margin: 0 1% 12px;
}

.single-product div.product .images .thumbnails a.zoom img {
	width: 100%;
}

.single-product div.product form.cart {
	margin-bottom: 0;
	padding: 1.618em 0;
}

.single-product div.product form.cart::after {
	display: table;
	clear: both;
	content: "";
}

.single-product div.product form.cart .quantity {
	float: left;
}

.single-product div.product form.cart .button {
	float: right;
	width: 65%;
}

.single-product div.product form.cart .button:hover {
	background: rgba(17, 17, 17, 0.8);
}

.single-product div.product table.variations {
	margin: 0;
}

.single-product div.product table.variations td,
.single-product div.product table.variations th {
	display: list-item;
	float: left;
	padding: 0;
	color: #666;
	background-color: transparent;
	list-style: none;
}

.single-product div.product table.variations td.label {
	margin-right: 10px;
	font-size: 12px;
	line-height: 33px;
}

.single-product div.product table.variations td.label label {
	font: 400 12px/1.8 "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 600;
}

.single-product div.product table.variations a.reset_variations {
	margin-left: 10px;
	padding: 8px 20px;
	border-color: #eee #eee #ddd;
	border-radius: 2px;
	background-color: #eee;
	text-decoration: none;
}

.single-product div.product table.variations .value {
	margin-bottom: 1em;
}

.single-product div.product .single_variation .price {
	display: block;
	margin-bottom: 1em;
}

.single-product div.product .variations_button {
	padding-top: 1em;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.single-product div.product .variations_button::after {
	display: table;
	clear: both;
	content: "";
}

.single-product div.product .woocommerce-product-rating {
	margin-bottom: 0.618em;
	padding: 0 0 1.618em;
	line-height: 1;
}

.single-product div.product .woocommerce-product-rating::after {
	display: table;
	clear: both;
	content: "";
}

.add_to_cart_button {
	padding: 8px 37px;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	box-shadow: none;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.single_add_to_cart_button {
	padding: 10px 45px;
	border: black;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	box-shadow: none;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.product .product-button-wrap .product_type_simple,
ul.products li.product .product-button-wrap .button.product_type_simple,
.cross-sells ul.products li.product .product-button-wrap .button.product_type_variation,
.shop-item .product-button-wrap .product_type_simple {
	position: relative;
	bottom: 0;
	padding: 10px 30px;
	border-radius: 2px;
	opacity: 0;
	opacity: 1;
	color: #aaa;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-family: "Roboto Condensed",sans-serif;
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.product .product-button-wrap .product_type_simple:hover,
ul.products li.product .product-button-wrap .button.product_type_simple:hover,
.shop-item .product-button-wrap .product_type_simple:hover {
	background: rgba(17, 17, 17, 0.8);
}

.single-product div.product .woocommerce-product-rating a {
	font-size: 0.857em;
}

.single-product div.product .woocommerce-product-rating .star-rating {
	float: left;
}

.product_meta {
	float: left;
	width: 100%;
}

.single-product div.product .product_meta .posted_in:last-child,
.single-product div.product .product_meta .sku_wrapper:last-child,
.single-product div.product .product_meta .tagged_as:last-child {
	border-bottom: 0;
}

.single-product div.product p.stock:before {
	margin-right: 0.53em;
	font-family: "ElegantIcons";
}

.single-product div.product p.stock.in-stock:before {
	content: "\f118";
}

.single-product div.product p.stock.out-of-stock:before {
	content: "\f119";
}

#reviews #comments {
	margin-top: 0;
	padding-top: 0;
}

#reviews .commentlist {
	float: left;
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

#reviews .commentlist li {
	clear: both;
	margin-bottom: 3.631em;
	list-style: none;
}

#reviews .commentlist li time {
	opacity: 0.8;
}

#reviews .commentlist li .avatar {
	float: left;
	width: 55px;
	height: auto;
	border-radius: 50%;
}

#reviews .commentlist li p.meta {
	margin-bottom: 1em;
}

#reviews .commentlist li .description {
	padding-bottom: 1.618em;
}

#reviews .commentlist li ul.children {
	float: right;
	width: 81.8181818182%;
	margin-right: 0;
	padding-top: 2.618em;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.woocommerce-breadcrumb {
	float: left;
	margin-bottom: 1.236em;
	font-size: 14px;
}

.single-product .woocommerce-breadcrumb {
	float: none;
}

.woocommerce-breadcrumb a.home:before {
	margin-right: 0.53em;
	font-family: "ElegantIcons";
	font-weight: 400;
	content: "\f015";
}

.product_list_widget {
	margin-left: 0;
	list-style: none;
}

.product_list_widget .amount {
	font-size: 12px;
	letter-spacing: 0;
}

.product_list_widget li {
	padding: 1em 0;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.product_list_widget li::after {
	display: table;
	clear: both;
	content: "";
}

.product_list_widget li img {
	float: right;
	max-width: 2.618em;
}

.product_list_widget li .quantity {
	display: block;
}

.product_list_widget a:hover {
	color: #96588a;
}

.widget_products a {
	display: block;
}

.widget_shopping_cart .product_list_widget {
	margin-bottom: 0;
}

.widget_shopping_cart .product_list_widget li a.remove {
	position: absolute;
	top: 1em;
	left: 0;
	opacity: 1;
}

.widget_shopping_cart p.buttons,
.widget_shopping_cart p.total {
	margin: 0;
	padding: 0;
	text-align: center;
}

.widget_shopping_cart p.total {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.widget_product_categories ul {
	margin: 0;
}

.widget_product_categories ul li {
	margin-bottom: 0.618em;
	list-style: none;
}

.widget_product_categories ul li.current-cat:before {
	content: "\f115";
}

.widget_product_categories .children {
	margin-top: 0.618em;
	margin-left: 1.618em;
}

.site-header .widget_shopping_cart li,
.site-header .widget_shopping_cart p.buttons,
.site-header .widget_shopping_cart p.total {
	padding-right: 1.387em;
	padding-left: 1.387em;
	background-color: rgba(0, 0, 0, 0.025);
}

.widget_layered_nav li {
	margin-bottom: 0.618em;
}

.widget_layered_nav li:before {
	float: left;
	position: absolute;
	top: 9px;
	left: 0;
	padding-right: 5px;
	opacity: 1;
	color: #666;
	content: "\00BB";
}

.widget_layered_nav .chosen:before {
	content: "\f14a";
}

.widget.woocommerce li .count {
	float: right;
	font-size: 1em;
}

.widget_price_filter .price_slider {
	margin-bottom: 1em;
}

.widget_price_filter .price_slider_amount {
	line-height: 2.4em;
	text-align: right;
}

.widget_price_filter .price_slider_amount .button {
	float: left;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	box-sizing: border-box;
	width: 1em;
	height: 1em;
	margin-top: -0.25em;
	border-radius: 1em;
	outline: 0;
	opacity: 1;
	background: #96588a;
	cursor: ew-resize;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active,
.widget_price_filter .ui-slider .ui-slider-handle:hover {
	box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
	display: block;
	position: absolute;
	z-index: 1;
	border: 0;
	border-radius: 1em;
	background: #96588a;
	font-size: 0.7em;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	border-radius: 1em;
	background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
	height: 0.5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}

table.cart {
	margin-bottom: 3.631em;
}

table.cart thead th {
	padding: 0;
}

table.cart td,
table.cart th {
	padding: 0.53em;
}

table.cart .qty {
	max-width: 1.618em;
	padding: 0.236em;
}

table.cart td.actions label {
	display: none;
}

table.cart td.actions .coupon {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

table.cart td.actions input {
	display: block;
	width: 100%;
	margin: 0.236em 0;
}

.wc-proceed-to-checkout {
	margin-bottom: 1.618em;
}

.wc-proceed-to-checkout::after {
	display: table;
	clear: both;
	content: "";
}

.wc-proceed-to-checkout .button {
	display: block;
	margin-bottom: 1em;
	text-align: center;
}

.wc-proceed-to-checkout .button.checkout-button {
	display: block;
	width: 100%;
	margin-bottom: 0;
	padding: 8px 37px;
	border: 1px solid transparent;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
	box-shadow: none;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transition: all 0.125s ease-in-out 0s;
	transition: all 0.125s ease-in-out 0s;
}

.wc-proceed-to-checkout .button.checkout-button:hover {
	background: rgba(17, 17, 17, 1);
}

ul#shipping_method {
	margin: 0;
	list-style: none;
}

a.remove {
	display: block;
	position: relative;
	height: 1.618em;
	font-weight: 400;
	line-height: 1.618;
	text-indent: -9999px;
}

.checkout_coupon {
	margin-bottom: 2.618em;
}

#shop-isle-checkout-coupon .checkout_coupon {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

.woocommerce-checkout .woocommerce-info {
	display: none;
}

.woocommerce-checkout #shop-isle-checkout-coupon .woocommerce-info {
	display: block;
}

#shop-isle-checkout-coupon .checkout_coupon .form-row-first {
	width: 100%;
	margin-right: 0;
	margin-left: -200px;
	padding-left: 200px;
}

#shop-isle-checkout-coupon .woocommerce-info,
#shop-isle-checkout-coupon .woocommerce-error {
	margin-bottom: 15px;
}

#shop-isle-checkout-coupon .checkout_coupon .form-row-first input[type="text"] {
	width: 100%;
	height: 35px;
	padding: 6px 12px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
}

.woocommerce #shop-isle-checkout-coupon .form-row input[type="submit"] {
	max-width: 195px;
	margin-right: 0;
}

#shop-isle-checkout-coupon .checkout_coupon .form-row-last {
	width: auto;
}

form.checkout::after {
	display: table;
	clear: both;
	content: "";
}

#payment {
	border-top: 3px solid rgba(0, 0, 0, 0.1);
}

#payment::after {
	display: table;
	clear: both;
	content: "";
}

#payment .create-account {
	clear: both;
}

#payment .payment_methods {
	margin: 0!important;
	padding: 0!important;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

#payment .payment_methods li {
	margin-left: 0;
	padding: 1.387em!important;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
	list-style: none!important;
}

#payment .payment_methods li img {
	float: right;
	position: absolute;
	right: 20px;
	max-height: 1.618em;
	padding: 0;
	border: 0;
}

#payment .payment_methods li:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

#payment .payment_methods li label {
	width: 92%;
	margin-left: 0.618em;
	padding-top: 0!important;
	font-weight: 700;
}

#payment .payment_methods li p {
	margin: 0;
}

#payment .payment_methods li .payment_box {
	margin: 1.387em -1.387em -1.387em;
	padding: 1.387em;
	border-top: 1px dotted rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.035);
}

#payment .payment_methods li .payment_box fieldset {
	margin: 0;
	padding: 1em 0 0;
	border: 0;
	font-size: 0.857em;
}

#payment .payment_methods li .payment_box fieldset label {
	width: auto;
	margin-left: 0;
}

#payment .payment_methods li .payment_box fieldset .form-row {
	margin-bottom: 1em;
}

#payment .payment_methods li .payment_box fieldset .form-row-first select {
	width: 48%;
}

#payment .payment_methods li .payment_box fieldset .form-row-first select:nth-child(2n) {
	float: right;
}

#payment .payment_methods li .payment_box fieldset #cvv {
	width: 22%!important;
}

#payment .payment_methods li .payment_box fieldset .help {
	float: right;
	width: 75%;
}

#payment .terms {
	float: none;
	clear: both;
	width: 100%;
	margin-top: 0;
	margin-bottom: 1em;
}

#payment .terms label {
	display: inline;
}

#terms {
	position: static;
}

#payment .terms input {
	display: inline-block;
	float: left;
	width: auto;
	margin: 0.327em 0.53em 0 0;
}

#payment .place-order {
	float: none;
	width: 100%;
	margin-bottom: 0;
	padding-top: 1em;
}

#payment .place-order .button {
	width: 100%;
	font-size: 1.387em;
}

#customer_login .col-1 {
	margin-bottom: 1.618em;
	padding-bottom: 1.618em;
}

#customer_login .col-1 .woocommerce-Button,
#customer_login .col-1 .woocommerce-form__label,
#customer_login .col-1 .woocommerce-LostPassword {
	float: left;
}

#customer_login .col-1 .woocommerce-LostPassword {
	margin-bottom: 0;
}

#customer_login .u-column1.col-1,
#customer_login .u-column2.col-2 {
	float: left;
	width: 48%;
}

#customer_login .u-column1.col-1 {
	margin-right: 4%;
}

ul.order_details {
	position: relative;
	margin-left: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	list-style: none;
}

ul.order_details::after {
	display: table;
	clear: both;
	content: "";
}

ul.order_details li {
	float: left;
	padding: 1em 1.618em;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 0.8em;
	text-transform: uppercase;
}

ul.order_details li:last-child {
	border-right: 0;
}

ul.order_details li strong {
	display: block;
	font-size: 1.387em;
	text-transform: none;
}

ul.digital-downloads {
	margin-left: 0;
	list-style: none;
}

ul.digital-downloads li {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

ul.digital-downloads li:before {
	margin-right: 0.53em;
	font-family: "ElegantIcons";
	content: "\e092";
}

.my_account_orders .button {
	margin-right: 0.236em;
	padding: 0.53em 1em;
	font-size: 0.857em;
}

.form-row label {
	display: block;
}

.form-row input,
.form-row select,
.form-row textarea {
	width: 100%;
}

.form-row .button,
.form-row input[type=checkbox],
.form-row input[type=radio] {
	width: auto;
}

.form-row.create-account label {
	display: inline-block;
}

.form-row.woocommerce-validated input.input-text {
	box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
	box-shadow: inset 2px 0 0 #e2401c;
}

.form-row-last {
	margin-right: 0!important;
}

.form-row-wide {
	clear: both;
	width: 100%;
}

.required {
	border-bottom: 0!important;
	color: red;
}

.demo_store {
	position: fixed;
	z-index: 99999;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 1em 1.387em;
	color: #fff;
	background-color: #3d9cd2;
}

.demo_store:before {
	margin-right: 0.53em;
	font-family: ElegantIcons;
	content: "\70";
}

.star-rating {
	overflow: hidden;
	position: relative;
	width: 5.5em;
	height: 1em;
	margin-bottom: 10px;
	font-family: star;
	font-size: 1em;
	line-height: 1;
}

.star-rating:before {
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(0, 0, 0, 0.2);
	content: "\73\73\73\73\73";
}

.star-rating span {
	float: left;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 1.5em;
}

.star-rating span:before {
	position: absolute;
	top: 0;
	left: 0;
	color: #f1c40f;
	content: "\53\53\53\53\53";
}

.onsale {
	position: absolute;
	top: 3px;
	right: 17px;
	left: auto;
	min-width: 50px;
	min-height: 50px;
	margin: 0;
	padding: 0;
	border-radius: 0;
	color: #fff;
	background-color: rgba(10, 10, 10, 0.9);
	line-height: 50px;
	text-align: center;
}

.onsale.out-of-stock {
	padding: 0 10px;
	background-color: #e03958;
}

.product-main-content .onsale {
	right: auto;
}

.product-main-content .onsale.out-of-stock {
	width: auto;
}

.quantity .qty {
	height: 39px;
	padding: 3px 16px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	font-size: 13px;
	line-height: 16px;
	text-align: left;
	letter-spacing: 2px;
}

.shop-isle-sorting {
	margin-bottom: 2.618em;
	font-size: 0.857em;
}

.woocommerce-tabs {
	padding: 1em 0;
}

.woocommerce-tabs ul.tabs {
	margin-left: 0;
	text-align: center;
	list-style: none;
}

.woocommerce-tabs ul.tabs li {
	display: inline-block;
	position: relative;
	margin-right: 1em;
}

.woocommerce-tabs ul.tabs li.active a {
	color: #555;
}

.woocommerce-error {
	list-style: none;
}

.page-title ~ .woocommerce-error,
.page-title ~ .woocommerce-info,
.page-title ~ .woocommerce-message {
	width: 1170px;
	margin: 10px auto;
}

.woocommerce-page-title ~ .woocommerce-error,
.woocommerce-page-title ~ .woocommerce-info,
.woocommerce-page-title ~ .woocommerce-message {
	width: 1110px;
	margin: 50px auto 20px;
}

.woocommerce-error ~ .module-small,
.woocommerce-info ~ .module-small,
.woocommerce-message ~ .module-small {
	padding-top: 10px;
}

.module-small-shop ul.products {
	padding-top: 50px;
}

.module-small-shop .woocommerce-breadcrumb {
	margin-bottom: 0;
}

.sidebar-shop {
	padding-top: 50px;
	padding-left: 0;
}

.woocommerce-noreviews,
p.no-comments {
	min-height: 20px;
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	color: #666;
	background-color: #f5f5f5;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	clear: both;
	width: 100%;
	margin-bottom: 30px;
	margin-left: 0;
	padding: 15px;
	border-radius: 2px;
}

.woocommerce-info {
	border-color: #bce8f1;
	color: #31708f;
	background-color: #d9edf7;
}

.woocommerce-info a {
	color: #31708f;
	font-weight: bold;
}

.woocommerce-info a.button {
	float: right;
	border: none;
	color: #31708f;
	font-weight: bold;
}

.woocommerce-message {
	border-color: #d6e9c6;
	color: #3c763d;
	background-color: #dff0d8;
}

.woocommerce-message a {
	color: #3c763d;
	font-weight: bold;
}

.woocommerce-message a.button {
	float: right;
	border: none;
	color: #3c763d;
	font-weight: bold;
}

.woocommerce-error {
	border-color: #ebccd1;
	color: #a94442;
	background-color: #f2dede;
}

.woocommerce-error a {
	color: #a94442;
	font-weight: bold;
}

.woocommerce-error a:hover,
.woocommerce-message a:hover,
.woocommerce-info a:hover {
	opacity: 0.7;

	filter: alpha(opacity=70);
}

.woocommerce-error a.button {
	float: right;
	border: none;
	color: #a94442;
	font-weight: bold;
}

.woocommerce-error a.button:hover {
	opacity: 0.7;
}

.woocommerce-error a.wc-backward {
	padding-right: 20px;
	padding-left: 20px;
	color: #fff;
	background: #a94442;
}

.woocommerce-error::after,
.woocommerce-info::after,
.woocommerce-message::after,
.woocommerce-noreviews::after,
p.no-comments::after {
	display: table;
	clear: both;
	content: "";
}

.woocommerce-error pre,
.woocommerce-info pre,
.woocommerce-message pre,
.woocommerce-noreviews pre,
p.no-comments pre {
	background-color: rgba(0, 0, 0, 0.1);
}

.site-content > .col-full > .woocommerce > .woocommerce-error:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-info:first-child,
.site-content > .col-full > .woocommerce > .woocommerce-message:first-child {
	margin-top: 2.618em;
}

dl.variation {
	font-size: 0.857em;
}

dl.variation dd {
	margin: 0 0 1em;
}

.shop-isle-product-section {
	margin-bottom: 4.236em;
	border-bottom: 3px solid rgba(0, 0, 0, 0.025);
}

.shop-isle-product-section .section-title {
	text-align: center;
}

.shop-isle-product-section:last-child {
	border-bottom: 0;
}

p.stars {
	font-size: 1em;
}

p.stars a {
	display: inline-block;
}

p.stars a.star-1,
p.stars a.star-2,
p.stars a.star-3,
p.stars a.star-4 {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

table.shop_table_responsive thead {
	display: table-header-group;
}

table.shop_table_responsive tbody th,
table.shop_table_responsive tr td {
	display: table-cell;
}

table.shop_table_responsive tr td:before {
	display: none;
}

.site-header-cart {
	position: relative;
}

.site-header-cart .cart-contents {
	display: block;
	position: relative;
	width: auto;
	height: auto;
	padding: 0 1em 2.244em;
	background-color: transparent;
	text-indent: 0;
}

.site-header-cart .cart-contents:after {
	top: 0;
	right: 1.618em;
	width: 1em;
	height: 1em;
	line-height: 1.387;
}

.site-header-cart .cart-contents .amount {
	margin-right: 0.327em;
}

.site-header-cart .cart-contents .count {
	opacity: 0.5;
	font-size: 0.857em;
	font-weight: 400;
}

.site-header-cart .cart-contents span {
	display: inline;
}

.site-header-cart .widget_shopping_cart {
	display: block;
	position: absolute;
	z-index: 999999;
	top: 100%;
	left: -999em;
	width: 100%;
	font-size: 0.857em;
}

.site-header-cart .widget_shopping_cart h2.widgettitle {
	display: none;
}

.site-header-cart .widget_shopping_cart .product_list_widget li a.remove {
	float: left;
	position: relative;
	top: auto;
}

.site-header-cart .widget_shopping_cart .product_list_widget li a.remove:before {
	text-align: left;
}

.site-header-cart.focus .widget_shopping_cart,
.site-header-cart:hover .widget_shopping_cart {
	left: 0;
}

ul.products li.product {
	float: left;
	clear: none;
	width: 25%;
	font-size: 0.857em;
}

.shop-with-sidebar ul.products li.product {
	width: 33.2%;
}

.shop-with-sidebar ul.products li.product:nth-child(3n+1) {
	clear: left;
}

ul.products li.product.last {
	margin-right: 0;
}

ul.products li.product.first {
	clear: both;
}

.single-product ul.products li.product.first {
	clear: none;
}

.page-template-template-fullwidth-php .site-main .columns-1 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-1 ul.products li.product,
.shop-isle-full-width-content .site-main .columns-1 ul.products li.product {
	float: none;
	width: 100%;
	margin-right: 0;
}

.page-template-template-fullwidth-php .site-main .columns-2 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-2 ul.products li.product,
.shop-isle-full-width-content .site-main .columns-2 ul.products li.product {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .site-main .columns-3 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-3 ul.products li.product,
.shop-isle-full-width-content .site-main .columns-3 ul.products li.product {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .site-main .columns-4 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-4 ul.products li.product,
.shop-isle-full-width-content .site-main .columns-4 ul.products li.product {
	float: left;
	width: 21.7391304348%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .site-main .columns-5 ul.products li.product,
.page-template-template-homepage-php .site-main .columns-5 ul.products li.product,
.shop-isle-full-width-content .site-main .columns-5 ul.products li.product {
	width: 16.9%;
	margin-right: 3.8%;
}

.site-main .columns-1 ul.products li.product {
	float: none;
	width: 100%;
	margin-right: 0;
}

.site-main .columns-2 ul.products li.product {
	width: 48%;
	margin-right: 3.8%;
}

.site-main .columns-3 ul.products li.product {
	float: left;
	width: 29.4117647059%;
	margin-right: 5.8823529412%;
}

.site-main .columns-4 ul.products li.product {
	width: 22.05%;
	margin-right: 3.8%;
}

.site-main .columns-5 ul.products li.product {
	width: 16.9%;
	margin-right: 3.8%;
}

.site-main ul.products li.product {
	float: left;
	width: 29.4117647059%;
	margin-right: 5.8823529412%;
}

.single-product div.product .images {
	float: left;
	position: relative;
	width: 41.1764705882%;
	margin-right: 5.8823529412%;
	margin-bottom: 3.631em;
}

.single-product div.product .images .thumbnails::after {
	display: table;
	clear: both;
	content: "";
}

.single-product div.product .summary {
	float: right;
	width: 52.9411764706%;
	margin-right: 0;
	margin-bottom: 3.631em;
}

.single-product div.product .woocommerce-tabs {
	clear: both;
}

.single-product .header-shopping-cart .amount {
	font-size: 12px;
}

.widget_shopping_cart .product_list_widget li.empty {
	color: #fff;
}

#reviews .comment-form-author,
#reviews .comment-form-email {
	width: 50%;
	padding: 0 15px;
}

#reviews .comment-form-email {
	margin-right: 0;
	padding-right: 0;
}

.shop-isle-full-width-content.single-product div.product .images {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
	margin-bottom: 3.631em;
}

.shop-isle-full-width-content.single-product div.product .images .thumbnails a.zoom {
	float: left;
	width: 14.2857142857%;
	margin-right: 14.2857142857%;
}

.shop-isle-full-width-content.single-product div.product .images .thumbnails a.zoom.last {
	margin-right: 0;
}

.shop-isle-full-width-content.single-product div.product .summary {
	float: right;
	width: 65.2173913043%;
	margin-right: 0;
	margin-bottom: 3.631em;
}

.shop-isle-full-width-content.single-product div.product .woocommerce-tabs {
	clear: both;
}

.shop-isle-full-width-content.single-product .related ul.products li.product,
.shop-isle-full-width-content.single-product .upsells ul.products li.product {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
}

.woocommerce .page-description {
	float: left;
	width: 100%;
	margin-bottom: 1.618em;
	padding: 0 15px 15px;
}

.shop-isle-sorting {
	margin-bottom: 2.618em;
}

.shop-isle-sorting::after {
	display: table;
	clear: both;
	content: "";
}

.shop-isle-sorting select {
	width: 9.505em;
}

.woocommerce-result-count {
	float: left;
	position: relative;
	margin-bottom: 0;
	padding: 0.327em 0;
}

.woocommerce-ordering {
	float: right;
	margin-right: 1em;
	margin-bottom: 0;
}

.woocommerce-ordering select {
	height: 33px;
	padding-left: 10px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
}

.woocommerce-pagination {
	clear: none;
	margin-bottom: 0;
	padding: 0;
	border: 0;
}

.woocommerce-pagination .page-numbers.current {
	display: inline-block;
	border-color: #cacaca;
}

.woocommerce-pagination ul.page-numbers {
	margin-left: 0;
	padding-left: 0;
}

.page-template-template-fullwidth-php table.cart .product-thumbnail {
	display: table-cell;
}

.page-template-template-fullwidth-php table.cart .product-thumbnail img {
	max-width: 3.631em;
	height: auto;
	border: 0.327em solid #fff;
}

.page-template-template-fullwidth-php table.cart thead {
	font-size: 1em;
	text-indent: 0;
}

.page-template-template-fullwidth-php table.cart thead th,
table.cart td,
table.cart th {
	padding: 0.857em 1.387em;
}

table.cart .qty {
	max-width: 3.632em;
	padding: 0.857em;
}

table.cart .product-remove {
	display: table-cell;
}

table.cart .product-quantity .minus,
table.cart .product-quantity .plus {
	display: inline-block;
}

table.cart .quantity .qty {
	width: 100%;
	max-width: 100%;
	height: 33px;
	padding: 0.618em;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	line-height: 1.42857143;
	text-align: left;
	letter-spacing: 2px;
}

table.cart td.actions {
	text-align: right;
}

table.cart td.actions label {
	display: none;
}

table.cart td.actions .coupon {
	display: inline-block;
	float: left;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

table.cart td.actions input {
	display: inline-block;
	width: auto;
	margin: 0;
}

.cart-collaterals::after {
	display: table;
	clear: both;
	content: "";
}

.cart-collaterals .cross-sells {
	float: left;
	width: 41.1764705882%;
	margin-right: 5.8823529412%;
}

.cart-collaterals .cross-sells ul.products li.product {
	float: left;
	width: 42.8571428571%;
	margin-right: 5.285714%;
}

.cart-collaterals .cross-sells ul.products li.product:nth-child(4n+1),
.cart-collaterals .cross-sells ul.products li.product.first {
	clear: none;
}

.cart-collaterals .cross-sells ul.products li.product:nth-child(2n+1) {
	clear: both;
}

.cart-collaterals .cart_totals,
.cart-collaterals .shipping_calculator {
	float: right;
	clear: right;
	width: 52.9411764706%;
	margin: 0;
}

.cart-collaterals .shipping_calculator {
	clear: right;
}

.page-template-template-fullwidth-php .cart-collaterals .cross-sells {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .cart-collaterals .cross-sells ul.products li.product {
	float: left;
	width: 45.4545454545%;
	margin-right: 9.0909090909%;
}

.page-template-template-fullwidth-php .cart-collaterals .cart_totals,
.page-template-template-fullwidth-php .cart-collaterals .shipping_calculator {
	float: right;
	width: 47.8260869565%;
	margin-right: 0;
}

.col2-set {
	float: left;
	clear: both;
	width: 52.9411764706%;
	margin-right: 5.8823529412%;
}

#customer_login {
	width: 100%;
	margin-right: 0;
}

.cart_totals h2,
.cross-sells h2 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.cross-sells ul.products {
	margin-left: 0;
	padding-top: 0;
}

.cross-sells ul.products li.product {
	padding-right: 0;
	padding-left: 0;
}

.cross-sells .product:hover .product-button-wrap {
	bottom: 60%;
}

.cart_totals table,
.cart_totals table td,
.cart_totals table th {
	padding: 12px;
	border: 1px solid #e5e5e5;
}

.cart_totals table > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.col2-set .form-row-first {
	float: left;
	width: 49%;
	margin-right: 2%;
}

.col2-set .form-row-last {
	float: right;
	width: 49%;
	margin-right: 0;
}

.col2-set .col-1,
.col2-set .col-2 {
	margin-bottom: 1.618em;
}

.col2-set + #customer_details {
	display: none;
}

#order_review,
#order_review_heading {
	float: right;
	clear: right;
	width: 41.1764705882%;
	margin-right: 0;
	border: 1px solid #e5e5e5;
}

#order_review_heading {
	margin-bottom: 0;
	padding: 0.618em 2.0833333333%;
}

.woocommerce-order-pay #order_review {
	float: none;
	width: 100%;
	border-width: 3px;
}

.woocommerce-order-pay #order_review #payment h3 {
	padding-top: 1em;
	padding-left: 1em;
}

.woocommerce-order-pay #order_review .payment_methods + .form-row {
	padding: 1em;
}

.woocommerce-order-pay #order_review .button#place_order {
	display: block;
	width: 100%;
}

#wc_checkout_add_ons {
	float: left;
	width: 41.1764705882%;
	margin-right: 5.8823529412%;
}

.page-template-template-fullwidth-php .col2-set {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .col2-set .form-row-first {
	width: 45.4545454545%;
	margin-right: 9.0909090909%;
}

.page-template-template-fullwidth-php .col2-set .form-row-last {
	float: right;
	width: 45.4545454545%;
	margin-right: 0;
}

.page-template-template-fullwidth-php #order_review,
.page-template-template-fullwidth-php #order_review_heading,
.page-template-template-fullwidth-php #wc_checkout_add_ons {
	float: right;
	width: 47.8260869565%;
	margin-right: 0;
}

.page-template-template-fullwidth-php #order_review {
	font-size: 0.857em;
}

.form-row-first {
	float: left;
	clear: both;
	width: 49%;
	margin-right: 2%;
}

.form-row-last {
	float: right;
	width: 49%;
	margin-right: 0;
}

.page-template-template-fullwidth-php .form-row-first {
	float: left;
	width: 47.8260869565%;
	margin-right: 4.347826087%;
}

.page-template-template-fullwidth-php .form-row-last {
	float: right;
	width: 47.8260869565%;
	margin-right: 0;
}

.shop-isle-full-width-content .woocommerce-tabs ul.tabs {
	float: left;
	width: 30.4347826087%;
	margin-right: 4.347826087%;
}

.shop-isle-full-width-content .woocommerce-tabs .panel {
	float: right;
	width: 65.2173913043%;
	margin-right: 0;
	margin-bottom: 3.631em;
}

.woocommerce-tabs {
	margin-bottom: 2.618em;
	padding-top: 2.618em;
	padding-bottom: 2.618em;
}

.woocommerce-tabs::after {
	display: table;
	clear: both;
	content: "";
}

.woocommerce-tabs ul.tabs {
	float: left;
	width: 100%;
	padding-left: 0;
	border-bottom: 1px solid #ddd;
	text-align: left;
}

.woocommerce-tabs ul.tabs li {
	display: block;
	float: left;
	margin: 0;
	margin-bottom: -1px;
}

.woocommerce-tabs ul.tabs li a {
	display: block;
	padding: 10px 15px;
}

.woocommerce-tabs ul.tabs li.active {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	color: #555;
	background-color: #fff;
	cursor: default;
}

.woocommerce-tabs .panel {
	float: left;
	width: 100%;
	margin-top: 0;
}

#order_review .shop_table,
#order_review .shop_table th,
#order_review .shop_table td {
	padding: 12px;
	border: 1px solid #e5e5e5;
}

.module-cart-top {
	padding-bottom: 0;
}

.module-cart-bottom {
	padding-top: 0;
}

table.cart td.actions input[name="update_cart"] {
	padding: 8px 37px;
	border: 1px solid transparent;
	border: rgba(17, 17, 17, 1);
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	-webkit-transition: all 0.125s ease-in-out 0s;
	transition: all 0.125s ease-in-out 0s;
}

table.cart td.actions input[name="update_cart"]:hover {
	background: rgba(17, 17, 17, 1);
}

table.cart td.actions input[name="apply_coupon"] {
	padding: 8px 37px;
	border: #d8d8d8;
	border-radius: 2px;
	color: #111;
	background: #e5e5e5;
	box-shadow: none;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: 2px;
	-webkit-transition: all 0.125s ease-in-out 0s;
	transition: all 0.125s ease-in-out 0s;
}

table.cart td.actions input[name="apply_coupon"]:hover {
	background: #d8d8d8;
}

.shop_table.cart,
.shop_table.cart td,
.shop_table.cart th {
	padding: 12px;
	border: 1px solid #e5e5e5;
}

.shop_table.cart img {
	max-width: 83px;
}

.shop_table.cart > tbody > tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

table.cart td.actions input[name="coupon_code"] {
	height: 33px;
	padding: 6px 12px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	box-shadow: none;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
}

tr.cart_item td.product-name a {
	margin: 0 0 20px;
	color: #111;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 2px;
	text-transform: uppercase;
}

td.product-price span.amount,
td.product-subtotal span.amount {
	margin: 0 0 20px;
	color: #111;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.related.products {
	padding: 70px 0 0 0;
}

.related.products .amount,
.upsells.products .amount {
	font: 400 12px/1.8 "Open Sans", sans-serif;
}

.related.products h2,
.upsells.products h2 {
	position: relative;
	color: #111;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.woocommerce-tabs .panel h2 {
	font: bold 12px/1.8 "Open Sans", sans-serif;
}

#review_form_wrapper {
	clear: both;
}

#reviews #comments .comment-text {
	float: left;
	margin-left: 20px;
}

#reviews #comments p.meta strong {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#reviews form input {
	float: left;
	width: 100%;
	height: 33px;
	margin-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
}

#reviews form p {
	float: left;
	margin: 0;
}

#reviews p.comment-form-comment,
#reviews p.comment-form-comment textarea {
	width: 100%;
	padding-left: 15px;
}

#reviews p.comment-form-comment textarea {
	margin-bottom: 15px;
	padding: 6px 12px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
}

#review_form_wrapper form {
	float: left;
	margin-top: 25px;
	margin-left: -15px;
}

p.comment-form-rating {
	width: 33.33%;
	padding-right: 15px;
	padding-left: 15px;
}

#reviews form input[type="submit"] {
	margin-left: 15px;
	padding: 8px 37px;
	border: 1px solid transparent;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
}

#reviews form input[type="submit"]:hover {
	background: rgba(17, 17, 17, 1);
}

.wc-backward {
	padding: 8px 37px;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.wc-backward:hover {
	color: #fff;
	background: rgba(17, 17, 17, 1);
}

.shipping-calculator-form button {
	padding: 8px 37px;
	border: 1px solid transparent;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
	box-shadow: none;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transition: all 0.125s ease-in-out 0s;
	transition: all 0.125s ease-in-out 0s;
}

.shipping-calculator-form button:hover {
	background: rgba(17, 17, 17, 1);
}

.shipping-calculator-form input,
.shipping-calculator-form select {
	width: 100%;
	max-width: 100%;
	height: 33px;
	padding: 0.618em;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	line-height: 1.42857143;
	text-align: left;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce-account h2 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce-account input {
	height: 33px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	box-shadow: none;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce-account input[type="text"],
.woocommerce-account input[type="email"],
.woocommerce-account input[type="password"],
.woocommerce-account input[type="tel"] {
	padding: 10px;
}

.woocommerce-account input[type="submit"] {
	border-radius: 2px;
}

.woocommerce-account input[type="submit"]:hover {
	border: 1px solid #000;
	color: #fff;
	background: #000;
	-webkit-transition: all 0.125s ease-in-out 0s;
	transition: all 0.125s ease-in-out 0s;
}

ul.products li.product {
	overflow: hidden;
}

ul.products li.product:nth-child(4n+1) {
	clear: left;
}

.shop-with-sidebar ul.products li.product:nth-child(4n+1) {
	clear: none;
}

.shop-with-sidebar ul.products li.product:nth-child(3n+1) {
	clear: left;
}

h1.page-title {
	margin-top: 0;
}

.container-wooinfo {
	padding-right: 0;
	padding-left: 0;
}

.shop_isle_hidden_if_not_customizer {
	display: none !important;
}

body.home .navbar-color-customizer {
	background-color: rgba(10, 10, 10, 0.9) !important;
}

@media (min-width: 768px) {
	body.home .navbar-transparent {
		/*padding-top: 10px;
		padding-bottom: 10px;*/
	}
}

.shop-item-detail {
	padding: 0;
}

.shop-item-detail .add_to_cart_inline {
	border: 0 !important;
}

.shop-item-detail del,
.shop-item-detail ins {
	display: none;
}

.navbar-cart-inner .icon-basket {
	color: #D28881;
	/*color: rgba(255, 255, 255, 0.7);*/
	font-size: 12px;
	line-height: 14px;
}

.navbar-cart-inner:hover .icon-basket {
	color: #181A1F;
}

.navbar-cart-inner .cart-item-number {
	position: absolute;
	top: 9px;
	right: initial;
	left: 7px;
	width: auto;
	min-width: 14px;
	border-radius: 2px;
	background: #e5e5e5;
}

.navbar-cart-inner {
	float: right;
	position: relative;
	width: 25px;
	height: 25px;
}

.navbar-cart {
	display: table-cell !important;
	width: 90px;
	height: 25px;
	margin-left: 20px;
	padding-left: 30px;
	vertical-align: middle;
}

/*******************************************/
/** Header shopping cart               *****/
/*******************************************/
.header-shopping-cart {
	display: none;
	position: absolute;
	top: 25px;
	right: 0;
	width: 300px;
	padding: 11px 15px;
	background-color: rgba(26, 26, 26, 0.90);
}

.header-shopping-cart .woocommerce-mini-cart__empty-message {
	margin: 10px;
}

.navbar-cart-inner:hover .header-shopping-cart {
	display: block;
}

.header-shopping-cart .mini_cart_item a {
	display: block;
	padding-top: 10px;
	color: #999;
	font-size: 11px;
	text-align: right;
	letter-spacing: 2px;
}

.header-shopping-cart .product_list_widget li img {
	float: left;
	max-width: 57px;
	margin-top: -10px;
	border: 3px solid rgba(255, 255, 255, 0.1);
}

.header-shopping-cart .widget.woocommerce a:hover {
	color: #fff;
}

.header-shopping-cart .mini_cart_item .quantity,
.header-shopping-cart .mini_cart_item .quantity span {
	color: #888;
	font-size: 11px;
	line-height: 13px;
	text-align: right;
}

.header-shopping-cart .widget_shopping_cart p.buttons {
	margin-bottom: -10px;
	padding-bottom: 0;
}

.header-shopping-cart .widget_shopping_cart p.buttons a {
	padding: 8px 20px;
	color: #fff;
	background: rgba(255, 255, 255, 0.8);
	font-family: "Roboto Condensed", sans-serif;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.header-shopping-cart .widget_shopping_cart p.buttons a.wc-forward {
	margin-left: 5px;
}

.header-shopping-cart .widget_shopping_cart p.buttons a:hover {
	opacity: 0.85;
}

.header-shopping-cart .widget_shopping_cart .product_list_widget li a.remove {
	top: -10px;
	right: 5px;
	bottom: 15px;
	left: auto;
	color: #aaa;
}

.header-shopping-cart .widget_shopping_cart .product_list_widget li a.remove:hover {
	color: #f96262;
	background-color: transparent;
}

.header-shopping-cart .widget_shopping_cart p.total {
	margin: 20px 0;
	padding: 0;
	color: #aaa;
	text-align: right;
}

.header-shopping-cart .widget_shopping_cart .amount {
	color: #fff;
}

.header-shopping-cart .widget_shopping_cart .product_list_widget li.mini_cart_item {
	margin: 0 0 10px;
	padding: 0;
	border: 1px solid rgba(73, 71, 71, 0.15);
}

.header-shopping-cart dl.variation {
	display: inline-block;
	width: 100%;
}

.header-shopping-cart dl.variation dd {
	float: right;
	width: 49%;
	margin: 0;
	text-align: right;
}

.header-shopping-cart dl.variation dt {
	float: left;
	width: 49%;
	margin-bottom: 5px;
	text-align: right;
}

.header-shopping-cart dl.variation dd p {
	margin-bottom: 5px;
}

/* rating stars */
p.stars {
	position: relative;
	width: 100px;
	height: 20px;
}

p.stars span {
	float: left;
	overflow: hidden;
	width: 100px;
	height: 20px;
	line-height: 20px;
}

p.stars a.star-1,
p.stars a.star-2,
p.stars a.star-3,
p.stars a.star-4,
p.stars a.star-5 {
	float: left;
	position: relative;
	height: 20px;
	margin: 0;
	padding: 0;
	border: none;
	color: transparent;
}

p.stars span:before,
p.stars a.star-1:hover:before,
p.stars a.star-2:hover:before,
p.stars a.star-3:hover:before,
p.stars a.star-4:hover:before,
p.stars a.star-5:hover:before {
	color: #ccc;
	font-family: star;
	font-size: 16px;
	text-align: left;
	letter-spacing: 2px;
}

p.stars:hover a.star-1.active:before,
p.stars:hover a.star-2.active:before,
p.stars:hover a.star-3.active:before,
p.stars:hover a.star-4.active:before,
p.stars:hover a.star-5.active:before {
	color: transparent;
}

p.stars a.star-1.active:hover:before,
p.stars a.star-2.active:hover:before,
p.stars a.star-3.active:hover:before,
p.stars a.star-4.active:hover:before,
p.stars a.star-5.active:hover:before {
	color: #f1c40f;
}

p.stars span:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	content: "\53\53\53\53\53";
}

p.stars a.star-1 {
	z-index: 10;
	width: 18px;
}

p.stars a.star-2 {
	z-index: 8;
	width: 36px;
	margin-left: -18px;
}

p.stars a.star-3 {
	z-index: 6;
	width: 54px;
	margin-left: -36px;
}

p.stars a.star-4 {
	z-index: 4;
	width: 72px;
	margin-left: -54px;
}

p.stars a.star-5 {
	z-index: 2;
	width: 90px;
	margin-left: -72px;
}

p.stars a.star-1:hover:before,
p.stars a.star-2:hover:before,
p.stars a.star-3:hover:before,
p.stars a.star-4:hover:before,
p.stars a.star-5:hover:before,
p.stars a.star-1.active:before,
p.stars a.star-2.active:before,
p.stars a.star-3.active:before,
p.stars a.star-4.active:before,
p.stars a.star-5.active:before {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
	height: 20px;
	color: #f1c40f;
	font-family: star;
	font-size: 16px;
	letter-spacing: 2px;
}

p.stars a.star-1:hover:before,
p.stars a.star-1.active:before {
	z-index: 9;
	width: 18px;
	content: "\53";
}

p.stars a.star-2:hover:before,
p.stars a.star-2.active:before {
	z-index: 7;
	width: 36px;
	content: "\53\53";
}

p.stars a.star-3:hover:before,
p.stars a.star-3.active:before {
	z-index: 5;
	width: 54px;
	content: "\53\53\53";
}

p.stars a.star-4:hover:before,
p.stars a.star-4.active:before {
	z-index: 3;
	width: 72px;
	content: "\53\53\53\53";
}

p.stars a.star-5:hover:before,
p.stars a.star-5.active:before {
	z-index: 1;
	width: 90px;
	content: "\53\53\53\53\53";
}

p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
	display: none;
	content: "";
}

a.remove {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	border: 0;
	border-radius: 100%;
	color: rgb(249, 98, 98);
	font-size: 1.5em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	text-indent: 0;
}

a.remove:hover {
	color: #fff;
	background: rgb(249, 98, 98);
}

/****
Search form Header
****/
.header-search {
	float: left;
	position: relative;
	width: 25px;
	height: 25px;
	text-align: center;
}

.header-search-button {
	color: #D28881;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

.header-search:hover .header-search-button {
	color: #181A1F;
}

.header-search-input {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 220px;
	padding: 5px;
	background: rgba(26, 26, 26, 0.9);
}

.header-search.header-search-open .header-search-input {
	display: block;
}

.header-search.header-search-open .header-search-button {
	color: #181A1F;
}

.header-search-input input[type=submit] {
	position: absolute;
	z-index: 9;
	top: 5px;
	right: 5px;
	width: 28px;
	height: 33px;
	border: none;
	background: none;
	text-indent: -9999999px;
}

.header-search-input input[type="search"] {
	width: 100%;
	padding: 10px;
	padding-right: 28px;
	border: none;
	border-radius: 0;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 2px;
}

.header-search-input:after {
	display: inline-block;
	position: absolute;
	z-index: 8;
	top: 5px;
	right: 5px;
	width: 20px;
	width: 33px;
	color: #999;
	font-family: "Glyphicons Halflings";
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	line-height: 33px;
	content: "\e003";
}

/****
Single product page
****/
.woocommerce.single-product .price ins {
	float: left;
	width: 100%;
}

.woocommerce.single-product .price ins .amount {
	float: left;
	width: 100%;
	color: #666;
	line-height: 36px;
	text-decoration: none;
}

.woocommerce.single-product .product-type-variable .price ins {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 32px;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce.single-product .product-type-variable .price ins .amount {
	float: none;
	width: auto;
}

.woocommerce.single-product .product-type-grouped .label {
	display: table-cell;
	padding: 0;
	font-size: 75%;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	vertical-align: middle;
	white-space: inherit;
}

.woocommerce.single-product .product-type-grouped form.cart .quantity {
	width: 100%;
}

.woocommerce.single-product .price del {
	float: left;
	width: 100%;
}

.woocommerce.single-product .price del .amount {
	font-size: 20px;
	line-height: 24px;
}

.woocommerce.single-product .stock {
	float: left;
	width: 100%;
}

.woocommerce.single-product div[itemprop="offers"] {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.woocommerce.single-product div[itemprop="description"] {
	float: left;
	width: 100%;
}

.woocommerce.single-product div.product form.cart {
	float: left;
	width: 100%;
}

.woocommerce.single-product div.product .woocommerce-product-rating {
	margin-bottom: 0;
	padding: 0 0 20px;
}

.product-main-content .onsale {
	z-index: 10;
	right: auto;
	left: 3px;
}

.woocommerce .comment_container {
	float: left;
	position: relative;
}

.woocommerce .form-row input[type="submit"] {
	width: auto;
	padding: 8px 37px;
	border: none;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-family: "Roboto Condensed",sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce .form-row input[type="submit"]:hover {
	background: rgba(17, 17, 17, 0.8);
}

#reviews .commentlist li .avatar {
	position: absolute;
	top: 0;
	left: 0;
}

#reviews #comments .comment-text {
	float: left;
	margin-left: 70px;
}

#reviews #comments .comment-text {
	position: relative;
	padding-top: 18px;
}

#reviews #comments .comment-text .star-rating {
	position: absolute;
	bottom: 0;
	left: 0;
}

#reviews .commentlist li {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 30px;
	list-style: none;
}

#review_form_wrapper form {
	width: 100%;
	margin-left: 0;
}

#reviews .comment-form-rating {
	min-height: 33px;
	padding-bottom: 15px;
	padding-left: 0;
}

#reviews p.comment-form-comment,
#reviews p.comment-form-comment textarea {
	padding-left: 0;
}

#reviews p.comment-form-comment textarea {
	height: 75px;
	padding: 6px 12px;
}

#reviews form input[type="submit"] {
	margin-left: 0;
	line-height: 15px;
}

#reviews .comment-form-author {
	padding-left: 0;
}

#reviews form .form-submit {
	clear: left;
}

.woocommerce.single-product table.shop_attributes tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.woocommerce.single-product table.shop_attributes tr td,
.woocommerce.single-product table.shop_attributes tr th {
	padding: 8px;
	font-weight: normal;
}

.woocommerce.single-product table.shop_attributes p {
	margin: 0;
	padding: 0;
}

.single-product div.product form.cart .button {
	width: 66.66666667%;
	padding: 0 0 15px;
	padding: 10px;
}

.single-product div.product form.cart .quantity {
	width: 33.33333333%;
	padding: 0 15px 0 0;
}

.single-product div.product form.cart .quantity label {
	display: none;
}

.single-product div.product form.cart .quantity .qty {
	width: 100%;
}

.woocommerce-tabs ul.tabs li,
.woocommerce-tabs ul.tabs li.active {
	border: none;
	background: none;
}

.woocommerce-tabs ul.tabs li a {
	display: block;
	position: relative;
	margin-right: 2px;
	padding: 10px 15px;
	border: 1px solid #fff;
	border-bottom-color: transparent;
	border-radius: 2px;
	border-radius: 4px 4px 0 0;
	color: #555;
	font-family: "Roboto Condensed", sans-serif;
	line-height: 1.42857143;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce-tabs ul.tabs li.active a {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	background-color: #fff;
	cursor: pointer;
}

.woocommerce-tabs ul.tabs li a:hover {
	border-color: #eee #eee #ddd;
	background-color: #eee;
	text-decoration: none;
}

.woocommerce-tabs ul.tabs li.active a:hover {
	border: 1px solid #ddd;
	border-bottom-color: transparent;
	background: #fff;
	cursor: default;
}

.single-product div.product .images {
	width: 50%;
	margin-right: 0;
	padding: 0 15px 0 0;
}

.single-product .flex-viewport {
	margin-bottom: 20px;
}

.single-product figure.woocommerce-product-gallery__wrapper {
	max-width: inherit;
	margin-bottom: 20px;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.single-product .woocommerce-product-gallery .flex-control-thumbs li {
	display: inline-block;
	max-width: 83px;
	margin: 2px 3.5% 10px 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	cursor: pointer;
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:after {
	display: block;
	position: absolute;
	top: 19px;
	left: 22px;
	box-sizing: content-box;
	width: 2px;
	height: 8px;
	border-radius: 6px;
	background: #000;
	content: "";
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:before {
	display: block;
	position: absolute;
	top: 9px;
	left: 9px;
	box-sizing: content-box;
	width: 10px;
	height: 10px;
	border: 2px solid #000;
	border-radius: 100%;
	content: "";
}

.single-product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	position: absolute;
	z-index: 9;
	top: 15px;
	right: 30px;
	box-sizing: content-box;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background: #fff;
	font-size: 2em;
	text-indent: -9999px;
}

.single-product div.product .summary {
	width: 50%;
	padding: 0 0 0 15px;
}

.single-product div.product .woocommerce-product-rating a {
	padding-left: 5px;
	font-size: 12px;
}

.single-product div.product p.stock.in-stock:before,
.single-product div.product p.stock.out-of-stock:before {
	display: none;
}

.woocommerce-tabs .panel h2 {
	margin: 0 0 20px;
	padding-top: 30px;
	padding-bottom: 15px;
	font: normal 12px/1.8 "Open Sans", sans-serif;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce.single-product ul.products {
	margin-bottom: 0;
	padding-bottom: 0;
}

.woocommerce.single-product .related.products,
.woocommerce.single-product .upsells.products {
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 70px;
}

/* you may also like */
.woocommerce.single-product ul.products li.product img {
	width: 100%;
}

.woocommerce.single-product .price del {
	color: #999;
}

.woocommerce.single-product .price del .amount {
	color: #999;
}

.woocommerce.single-product ul.products li.product .price del {
	color: #999;
}

.woocommerce.single-product .owl-carousel .ex-product .woocommerce-Price-amount,
.woocommerce.single-product ul.products li.product .price del .amount {
	color: #999;
	font-size: 12px;
}

.single-product .owl-carousel .ex-product ins {
	text-decoration: none;
}

.woocommerce.single-product ul.products li.product .price ins .amount {
	line-height: 20px;
}

.woocommerce.single-product ul.products li.product .price ins {
	margin-left: 0;
}

.form-row #rememberme {
	vertical-align: -12px;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.inline span {
	vertical-align: -6px;
}

.form-row label {
	font-weight: normal;
}

.add_to_cart_button:not(.product_type_variable):before,
.icon-basket:before,
.single-product div.product form.cart .button:before {
	display: inline-block;
	position: relative;
	top: 1px;
	margin-right: 5px;
	font-family: "Glyphicons Halflings";
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	content: "\e116";
}

.shop-with-sidebar {
	float: right;
	clear: both;
	padding: 0;
}

/****
product list
****/
.woocommerce ul.products {
	float: left;
	min-width: 100%;
}

.woocommerce ul.products li.product .price del {
	float: left;
	width: 100%;
	color: #999;
	font-size: 12px;
}

.woocommerce ul.products li.product .price del .amount {
	color: #999;
	font: 400 12px/1.8 "Open Sans", sans-serif;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.woocommerce ul.products li.product .price ins {
	float: left;
	width: 100%;
	margin: 0;
	color: #999;
	font-size: 12px;
	text-decoration: none;
	text-decoration: none;
}

.woocommerce ul.products li.product .price ins .amount,
.woocommerce ul.products li.product .price .amount {
	color: #999;
	font: 400 12px/1.8 "Open Sans", sans-serif;
	text-decoration: none;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.products li.product .button.product_type_simple {
	padding: 5px 37px;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

ul.products li.product .button.product_type_simple:hover,
ul.products li.product .button.product_type_simple:focus {
	background: rgba(17, 17, 17, 0.8);
}

table.cart .quantity .qty {
	float: none;
	max-width: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

.product-rating-home .star-rating {
	display: inline-block;
	float: none;
	margin-bottom: 0;
}

ul.products li.product .product-button-wrap .button,
.product-button-wrap .button {
	display: inline-block;
	margin: 10px 5px 0;
	padding: 0 10px;
}

ul.products li.product .product-button-wrap .add-to-cart-button-wrap .button,
.add-to-cart-button-wrap .button {
	display: inline;
}

/****
Cart page
****/
.shop_table.cart {
	border: none;
}

.shop_table.cart th,
.shop_table.cart td {
	border: 1px solid #e5e5e5;
}

.shop_table.cart tr:last-child td {
	padding-right: 0;
	padding-left: 0;
	border-right: none;
	border-left: none;
}

.shop_table.cart > tbody > tr:nth-of-type(odd) {
	background: none;
}

.shop_table.cart > thead > tr,
.shop_table.cart > tbody > tr:nth-of-type(even) {
	background-color: #f9f9f9;
}

.shop_table.cart tbody tr:last-child {
	background: none;
}

ul.products li.product img {
	width: 100%;
}

ul.products li.product:hover img {
	/*	opacity: 0.6;*/
}

.woocommerce-billing-fields input,
.woocommerce-checkout .woocommerce-account-fields input:not([type="checkbox"]),
.woocommerce-checkout .woocommerce-shipping-fields input:not([type="checkbox"]) {
	height: 33px;
	padding: 6px 12px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.form-row textarea {
	height: 75px;
	padding: 6px 12px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.form-row.woocommerce-validated input.input-text {
	box-shadow: none;
}

.select2-container .select2-choice {
	height: 33px;
	padding: 6px 12px;
	border: 1px solid #eaeaea;
	border-radius: 2px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#order_review,
#order_review_heading {
	border: none;
}

#payment .place-order .button {
	padding: 8px 37px;
	border: none;
	border-radius: 0;
	border-radius: 2px;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#payment .place-order .button:hover,
#payment .place-order .button:focus {
	background: rgba(17, 17, 17, 0.8);
}

#payment .place-order {
	padding-right: 0;
	padding-left: 0;
}

#payment {
	border-top: 1px solid rgba(0,0,0,0.1);
}

#payment .payment_methods li label {
	width: auto;
}

.product .product-button-wrap .add_to_cart_button,
.product .product-button-wrap .button.product_type_external,
ul.products li.product .product-button-wrap .button.product_type_simple,
ul.products li.product .product-button-wrap .button.product_type_grouped,
ul.products li.product .product-button-wrap .button.product_type_external,
.shop-item .product-button-wrap .add_to_cart_button,
.shop-item .product-button-wrap .button.product_type_external,
.shop-item .product-button-wrap .button.product_type_grouped,
.shop-item .product-button-wrap .button.product_type_variable,
ul.products li.product .product-button-wrap .product_type_variable {
	position: relative;
	bottom: 0;
	padding: 10px 30px;
	border-radius: 2px;
	opacity: 0;
	opacity: 1;
	color: #aaa;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-family: "Roboto Condensed",sans-serif;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.product .product-button-wrap .add_to_cart_button:hover,
ul.products li.product .product-button-wrap .button.product_type_simple:hover,
ul.products li.product .product-button-wrap .button.product_type_grouped:hover,
.shop-item .product-button-wrap .add_to_cart_button:hover,
.shop-item .product-button-wrap .button.product_type_grouped:hover,
.shop-item .product-button-wrap .button.product_type_variable:hover,
ul.products li.product .product-button-wrap .product_type_variable:hover {
	background: rgba(17, 17, 17, 0.8);
}

.single .col-sm-8 .product .product-button-wrap .add_to_cart_button,
.single .col-sm-8 ul.products li.product .product-button-wrap .button.product_type_simple,
.single .col-sm-8 ul.products li.product .product-button-wrap .button.product_type_grouped,
.single .col-sm-8 .shop-item .product-button-wrap .add_to_cart_button,
.single .col-sm-8 .shop-item .product-button-wrap .button.product_type_grouped,
.single .col-sm-8 .shop-item .product-button-wrap .button.product_type_variable,
.single .col-sm-8 ul.products li.product .product-button-wrap .product_type_variable {
	padding: 10px 10px;
}

.shop-with-sidebar .product .product-button-wrap .add_to_cart_button,
.shop-with-sidebar ul.products li.product .product-button-wrap .button.product_type_simple {
	padding-right: 10px;
	padding-left: 10px;
}

.shop-with-sidebar .added_to_cart {
	display: inline-block;
	clear: left;
	margin-top: 10px;
	padding: 4px 10px;
}

.product .product-button-wrap,
.shop-item .product-button-wrap {
	position: absolute;
	z-index: 2;
	bottom: 100%;
	left: 0;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.product:hover .product-button-wrap,
.shop-item:hover .product-button-wrap {
	bottom: 50%;
	opacity: 1;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	transform: translateY(50%);
}

.prod-img-wrap {
	position: relative;
}

.post-type-archive-product .products li > a {
	float: left;
	width: 100%;
}

.added_to_cart {
	margin-bottom: 24px;
	padding: 10px 5px;
	border-radius: 2px;
	color: #fff;
	background-color: #0f834d;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.added_to_cart:hover {
	color: #fff;
	background: #439c73;
	-webkit-transition: all 0.125s ease-in-out 0s;
	transition: all 0.125s ease-in-out 0s;
}

.form-row .button,
.form-row input[type=checkbox],
.form-row input[type=radio],
.woocommerce-checkout input[type=radio] {
	float: left;
	height: auto;
	margin-right: 5px;
}

.woocommerce-form-login .woocommerce-form__label {
	float: left;
	clear: both;
	margin-top: 10px;
	margin-bottom: 0;
}

.woocommerce-form-login .woocommerce-form__label span {
	vertical-align: 0 !important;
}

.woocommerce-form-login .lost_password {
	float: left;
	width: 100%;
	margin-top: 10px;
}

.woocommerce-ResetPassword .woocommerce-form-row {
	clear: both;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	position: static;
	margin-left: 0;
}

#payment .payment_methods li label {
	margin-left: 0;
}

.select2-drop-active {
	border: 1px solid #eaeaea;
}

ul.order_details {
	padding: 0;
}

.shop_table.order_details tr {
	padding: 5px 0;
}

/****
Breacrumb
****/
.woocommerce-breadcrumb {
	line-height: 33px;
}

.woocommerce-ordering {
	margin-right: 0;
}

.woocommerce-pagination {
	float: left;
	width: auto;
	margin-top: -5px;
	text-align: left;
}

.page-numbers {
	text-align: left;
}

/* woocommerce sidebar */
.widget_price_filter .ui-slider .ui-slider-handle {
	background: #212121;
}

.widget_price_filter .ui-slider .ui-slider-range {
	background: #e5e5e5;
}

.widget_price_filter .price_slider_amount .button {
	padding: 10px 30px;
	line-height: 13px;
}

.price_label {
	line-height: 33px;
}

.sidebar-shop .widget.widget_products ul li:before,
.sidebar-shop .widget.widget_recent_reviews ul li:before,
.sidebar-shop .widget.widget_recently_viewed_products ul li:before,
.sidebar-shop .widget.widget_top_rated_products ul li:before,
.sidebar-shop .widget.widget_product_categories  ul li:before,
.sidebar-shop .widget.widget_layered_nav .chosen:before {
	float: left;
	position: absolute;
	top: 9px;
	left: 0;
	padding-right: 5px;
	color: #666;
	content: "\00BB";
}

.product_list_widget .amount,
.product_list_widget del,
.product_list_widget ins {
	color: #999;
}

.product_list_widget ins {
	text-decoration: none;
}

.product_list_widget .amount {
	margin-right: 10px;
}

.widget.woocommerce li {
	position: relative;
	padding-left: 12px;
}

.widget_shopping_cart .product_list_widget li {
	position: relative;
	padding-left: 2em;
}

.widget.woocommerce a:hover .product-title,
.widget.woocommerce a:hover {
	color: #aaa;
}

.widget_shopping_cart_content .buttons a {
	display: inline-block;
	width: auto;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-bottom: 10px;
	padding: 10px 27px;
	border: none;
	border-radius: 2px;
	color: #fff;
	color: #fff;
	background: rgba(17, 17, 17, 1);
	font-family: "Roboto Condensed", sans-serif;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.widget_shopping_cart_content .buttons a:nth-child(1) {
	margin-right: 2%;
}

.widget_shopping_cart_content .buttons a:hover,
.widget.woocommerce.widget_shopping_cart_content .button a:hover {
	color: #fff;
	background: rgba(17, 17, 17, 0.8);
}

@media (max-width: 1199px) {
	.widget_shopping_cart_content .buttons a {
		width: 100%;
	}

	.widget_shopping_cart_content .buttons a:nth-child(2) {
		margin-top: 0;
	}
}

.widget.woocommerce.widget_rating_filter .star-rating {
	position: absolute;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 30px;
}

.widget.woocommerce.widget_rating_filter .star-rating:before {
	float: right;
}

.widget_shopping_cart li:before {
	display: none;
	content: "";
}

.sidebar-shop .widget_shopping_cart li,
.widget_shopping_cart li {
	padding-left: 2em;
}

.widget_shopping_cart .product_list_widget li a.remove {
	top: 12px;
}

.widget_shopping_cart .product_list_widget li a.remove:hover {
	color: #fff;
}

.widget_recently_viewed_products li a,
.widget_top_rated_products li a {
	display: block;
}

.bottom-page-wrap {
	position: relative;
	z-index: 19;
}

.bottom-page-wrap .widget_shopping_cart .amount {
	color: #fff;
}

.bottom-page-wrap .widget_shopping_cart_content .buttons a,
.bottom-page-wrap .widget_price_filter .price_slider_amount .button {
	background: rgba(255, 255, 255, 0.20);
}

.bottom-page-wrap .widget_shopping_cart_content .buttons a:hover,
.bottom-page-wrap .widget_price_filter .price_slider_amount .button:hover {
	background: rgba(255, 255, 255, 0.25);
}

.bottom-page-wrap .widget_price_filter .ui-slider .ui-slider-handle {
	background: #fff;
}

.bottom-page-wrap .widget ul li {
	position: relative;
}

.bottom-page-wrap .widget.woocommerce ul li:before {
	float: left;
	position: absolute;
	top: 9px;
	left: 0;
	padding-right: 5px;
	color: #777;
	content: "\00BB";
}

.bottom-page-wrap .widget.woocommerce ul li:before {
	color: #777;
	content: "\00BB";
}

.bottom-page-wrap .widget .tagcloud a {
	background: rgba(255, 255, 255, 0.2);
}

.bottom-page-wrap .product-title,
.bottom-page-wrap .widget.woocommerce a {
	color: #aaa;
}

.bottom-page-wrap .widget_product_categories a .product-title:hover,
.bottom-page-wrap .widget.woocommerce a:hover {
	text-decoration: underline;
}

/****************************************/
/** WooCommerce Compare List plugin *****/
/****************************************/

a.button.compare,
.shop-isle-compare-list-wrapper a.button.alt {
	position: relative;
	bottom: 0;
	border-radius: 2px;
	opacity: 1;
	color: #fff;
	background: #0b5b34;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 10px;
	line-height: 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

a.button.compare:hover {
	background: rgba(11, 91, 52, 0.8);
}

.shop-isle-compare-list-wrapper {
	margin-top: 20px;
	margin-bottom: -40px;
}

.shop-isle-compare-list-wrapper a.button.alt {
	margin-left: 10px;
}

.wccm-catalog-items {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}

.wccm-catalog-item {
	margin-bottom: 12px;
}

.wccm-catalog-item a.button {
	float: left;
	height: auto;
	margin-top: 12px;
	padding: 0 10px 0;
	border: 1px solid rgba(17,17,17,1);
	border-radius: 2px;
	opacity: 1;
	color: rgba(17,17,17,1);
	background: transparent;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.wccm-catalog-item a.button:hover {
	border: 1px solid rgba(17,17,17,0.3);
	color: rgba(17,17,17,0.6);
}

.wccm-catalog-item a.button.alt,
.shop-isle-compare-list-wrapper a.button.alt {
	border: 1px solid rgba(17,17,17,0.3);
	color: #999;
}

.wccm-catalog-item a.button.alt:hover,
.shop-isle-compare-list-wrapper a.button.alt:hover {
	border: 1px solid rgba(17,17,17,0.15);
	color: rgba(153, 153, 153, 0.75);
}

.wccm-frontpage-compare-list .wccm-catalog-item {
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 1em;
}

.wccm-frontpage-compare-list .wccm-catalog-item img {
	width: 48px;
	height: 48px;
}

.wccm-frontpage-compare-list .wccm-catalog-item a.dashicons,
.wccm-catalog-item a.dashicons {
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 14px;
	height: 14px;
	border-radius: 1px;
	color: #1b1b1b;
	background: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.wccm-catalog-item a.dashicons:hover {
	color: #fff;
	background: #a94442;
}

.wccm-thumb a {
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 14px;
	height: 14px;
	padding-left: 1px;
	border-radius: 1px;
	color: #1b1b1b;
	background: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.wccm-thumb a:hover {
	color: #fff;
	background: #a94442;
}

.wccm-thumb {
	width: 150px;
	height: 150px;
	background: rgba(221,221,221,0.35);
}

.product_meta a.button.compare,
.shop-isle-compare-list-wrapper a.button.alt {
	float: left;
	height: auto;
	margin-top: 12px;
	padding: 0 10px 0;
	border: 1px solid rgba(17,17,17,0.3);
	border-radius: 2px;
	opacity: 1;
	color: #999;
	background: transparent;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.product_meta a.button.compare:hover,
.shop-isle-compare-list-wrapper a.button.alt:hover {
	border: 1px solid rgba(17,17,17,0.15);
	color: rgba(153, 153, 153, 0.75);
}

/****************************************/
/** YITH WooCommerce Wishlist plugin *****/
/****************************************/
.yith-wcwl-add-button a.add_to_wishlist {
	float: left;
	height: auto;
	margin-top: 12px;
	margin-bottom: 10px;
	padding: 0 10px 0;
	border: 1px solid rgba(17,17,17,1);
	border-radius: 2px;
	opacity: 1;
	color: rgba(17,17,17,1);
	background: transparent;
	font-family: "Roboto Condensed",sans-serif;
	font-size: 12px;
	line-height: 21px;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}

.yith-wcwl-add-button a.add_to_wishlist:hover {
	border: 1px solid rgba(17,17,17,0.3);
	color: rgba(17,17,17,0.6);
}

.yith-wcwl-add-button a.add_to_wishlist:before {
	display: inline-block;
	position: relative;
	top: 1px;
	font-family: "Glyphicons Halflings";
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	content: "\e005";
}

.yith-wcwl-wishlistexistsbrowse,
.yith-wcwl-wishlistaddedbrowse {
	float: left;
	position: relative;
	margin-top: 12px;
	margin-bottom: 10px;
	padding: 0 10px 0;
	border: 1px solid rgba(17,17,17,0.3);
	border-radius: 2px;
	color: #999;
	background: transparent;
	font-size: 12px;
	line-height: 21px;
}

.yith-wcwl-wishlistexistsbrowse:before,
.yith-wcwl-wishlistaddedbrowse:before {
	display: inline-block;
	position: relative;
	top: 1px;
	font-family: "Glyphicons Halflings";
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	line-height: 1;
	content: "\e005";
}

.shop_table.wishlist_table tr:last-child td {
	padding: 16px 12px;
	border: 1px solid #e7e7e7;
}

.shop_table.wishlist_table tfoot tr:last-child td {
	border: none;
}

.shop_table.wishlist_table tr td.product-name,
.shop_table.wishlist_table tr td.product-price,
.shop_table.wishlist_table tr td.product-stock-status {
	margin: 0 0 20px;
	color: #111;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.shop_table.wishlist_table {
	font-size: 12px;
}

#yith-wcwl-popup-message {
	position: fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	padding: 20px;
	border: 1px solid #222;
	border-radius: 2px;
	color: #fff;
	background: rgba(34, 34, 34, 0.75);
	line-height: 20px;
	text-align: center;
}

.page-template-template-fullwidth-php table.wishlist_table thead,
.page-template-template-fullwidth-php table.wishlist_table {
	font-size: 12px;
}

.wishlist-title {
	display: none;
}

.summary .product_meta {
	margin-top: 45px;
}

.summary .product_meta {
	margin-top: 0;
}

.woocommerce .wishlist_table td.product-add-to-cart a {
	display: block!important;
	position: relative;
	width: auto;
	margin: 0;
	margin-top: 5px;
	margin-bottom: -3px;
	padding: 0;
	opacity: 1;
	color: #666;
	background: none;
	text-align: center;
	letter-spacing: 0;
}

.woocommerce .wishlist_table td.product-add-to-cart a.add_to_cart:before {
	display: inline-block;
	position: relative;
	top: 1px;
	margin-right: 5px;
	font-family: "Glyphicons Halflings";
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1;
	content: "\e116";
}

.term-description {
	width: 1170px;
	max-width: 100%;
	margin: 70px auto 30px;
	padding: 0 30px;
}

/*************************************************/
/** JetPack review 'Notify by email' section ****/
/************************************************/
.comment-subscription-form {
	clear: both;
}

.comment-subscription-form label {
	color: #666;
	font-weight: 400;
}

#subscribe_blog {
	height: auto !important;
	margin: 5px 5px 0 0;
	padding-right: 0 !important;
}

/*******************************************/
/** YITH WooCommerce Quick View plugin *****/
/*******************************************/
a.button.yith-wcqv-button {
	position: relative;
	top: 15px;
	padding: 7px 10px !important;
	border-radius: 2px;
	color: #fff;
	background-color: rgba( 0, 0, 0, 0.75 );
	font-family: "Roboto Condensed",sans-serif;
	font-size: 11px;
	line-height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

a.button.yith-wcqv-button:before {
	margin-right: 5px;
	font-family: "ElegantIcons";
	-webkit-font-smoothing: antialiased;
	content: "\e101";
}

a.button.yith-wcqv-button:hover {
	background-color: #000;
}

.shop-isle-yith-wcqv-button-wrapper {
	margin-top: 90px;
	margin-bottom: -70px;
}

.shop-isle-yith-wcqv-button-wrapper a.button.alt {
	margin-left: 10px;
}

.yith-wcqv-main .onsale {
	right: auto;
	left: 0;
}

#yith-quick-view-close {
	width: 22px;
	height: 22px;
	border: 1px solid #a94442;
	border-radius: 2px;
	opacity: 1;
	color: #fff;
	background: #a94442;
	line-height: 22px;
	text-align: center;
}

#yith-quick-view-close:hover {
	border: 1px solid #c73735;
	color: #fff;
	background: #c73735;
}

/* My Account Styling */
.woocommerce-account .woocommerce-MyAccount-navigation {
	display: inline-block;
	width: 20%;
}

.woocommerce-account .woocommerce-MyAccount-content {
	display: inline-block;
	float: right;
	width: 75%;
	margin-left: 5%;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul {
	padding: 0;
	border-top: 1px solid #eee;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li {
	padding-bottom: 0;
	border-bottom: 1px solid #eee;
	list-style: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a:before {
	opacity: 1;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
	display: block;
	padding: 10px 5px;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover {
	color: #333;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:before {
	margin-right: 20px;
	opacity: 0.25;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:hover:before {
	opacity: 1;
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li a:before {
	font-family: "ElegantIcons";
	content: "\e056";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
	font-family: "ElegantIcons";
	content: "\e037";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
	font-family: "ElegantIcons";
	content: "\e079";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
	font-family: "ElegantIcons";
	content: "\e092";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
	font-family: "ElegantIcons";
	content: "\e074";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
	font-family: "ElegantIcons";
	content: "\e014";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
	font-family: "ElegantIcons";
	content: "\e08a";
}

.woocommerce-account .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
	font-family: "ElegantIcons";
	content: "\e06c";
}

.woocommerce-account .woocommerce-MyAccount-content h2 {
	font-size: 25px;
	font-weight: 600;
	text-align: center;
}

.woocommerce-account p.order-again {
	text-align: right;
}

.woocommerce-EditAccountForm input[type="submit"] {
	float: right;
	margin-top: 50px;
}

.woocommerce-account table.shop_table_responsive thead {
	color: #fff;
	background-color: #333;
}

.woocommerce-account table.shop_table_responsive thead th {
	padding: 10px;
	border-right: 1px solid;
	text-align: center;
}

.woocommerce-account table.shop_table_responsive tbody td {
	padding: 10px;
	text-align: center;
}

.woocommerce-account table.shop_table_responsive tbody tr {
	border-bottom: 1px solid #eee;
}

.woocommerce-account  .my_account_orders .button {
	text-decoration: underline;
	text-transform: uppercase;
}

#ship-to-different-address .checkbox {
	display: inline-block;
}

h3#ship-to-different-address {
	font-size: 13px;
}

.woocommerce-checkout #ship-to-different-address #ship-to-different-address-checkbox,
.woocommerce-checkout .create-account #createaccount {
	margin-left: 0;
}

.woocommerce-checkout .create-account label {
	margin: 0;
}

.woocommerce-checkout #ship-to-different-address span,
.woocommerce-checkout .create-account span {
	margin-left: 3px;
	font-weight: normal;
}

@media screen and (max-width: 1200px) {
	.page-title ~ .woocommerce-error,
	.page-title ~ .woocommerce-info,
	.page-title ~ .woocommerce-message {
		width: 970px;
	}

	.woocommerce-page-title ~ .woocommerce-error,
	.woocommerce-page-title ~ .woocommerce-info,
	.woocommerce-page-title ~ .woocommerce-message {
		width: 910px;
	}

	.term-description {
		width: 970px;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li {
		margin: 2px 10px 10px 0;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(5n) {
		margin-right: 0;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(6n) {
		margin-right: 10px;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(5n+1),
	.single-product .woocommerce-product-gallery .flex-control-thumbs li:first-child {
		margin-left: 0;
	}
}

@media screen and (min-width: 993px) {
	.woocommerce.archive .woocommerce-breadcrumb {
		padding-left: 0;
	}

	.woocommerce.archive .woocommerce-ordering {
		padding-right: 0;
	}

	ul.products li.product img {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media screen and (max-width: 992px) {
	/* single product page */
	#reviews .comment-form-author {
		width: 50%;
	}

	#reviews .comment-form-email {
		width: 50%;
		padding-right: 15px;
	}

	#reviews form p.comment-form-rating {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

/*+*/
	.woocommerce.archive .woocommerce-ordering {
		float: none;
	}

	.woocommerce ul.products {
		float: none;
	}

	.woocommerce.archive ul.products {
		padding: 50px 15px 0;
	}

	.woocommerce.single-product ul.products li.product {
		width: 50%;
	}

	.woocommerce.single-product ul.products li.product:nth-child(2n+1) {
		clear: left;
	}

	.woocommerce.single-product ul.products li.product.first {
		clear: none !important;
	}

	.woocommerce.single-product ul.products li.product:nth-child(3n+1) {
		clear: none;
	}

	.woocommerce.single-product ul.products li.product:nth-child(2n+1) {
		clear: left;
	}

/* product list */
	.woocommerce ul.products li.product {
		float: left;
		width: 50%;
		padding-right: 15px;
		padding-left: 15px;
	}

	.shop-with-sidebar ul.products li.product:nth-child(3n+1) {
		clear: none;
	}

	.woocommerce ul.products li.product:nth-child(2n+1) {
		clear: left;
	}

	.woocommerce-ordering,
	.woocommerce-ordering select {
		width: 100%;
		margin-right: 0;
	}

	.woocommerce-breadcrumb {
		width: 100%;
		margin-bottom: 20px;
		line-height: 33px;
		text-align: center;
	}

	.page-numbers {
		text-align: center;
	}

	.page-title ~ .woocommerce-error,
	.page-title ~ .woocommerce-info,
	.page-title ~ .woocommerce-message {
		width: 750px;
	}

	.woocommerce-page-title ~ .woocommerce-error,
	.woocommerce-page-title ~ .woocommerce-info,
	.woocommerce-page-title ~ .woocommerce-message {
		width: 690px;
		margin-top: 40px;
	}

	.module-small-shop .woocommerce-breadcrumb {
		margin-bottom: 1.236em;
	}

	.cross-sells ul.products li.product {
		width: 100% !important;
		padding-right: 0;
		padding-left: 0;
	}

	.cart-collaterals .cross-sells {
		width: 100%;
	}

	.cross-sells ul.products li.product {
		width: 42.8571428571% !important;
		padding-right: 10px;
		padding-left: 10px;
	}

	.cart-collaterals .cart_totals,
	.cart-collaterals .shipping_calculator {
		width: 100%;
	}

	.term-description {
		width: 750px;
	}

/*My Account Styling*/
	.woocommerce-account .woocommerce-MyAccount-navigation {
		width: 100%;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul li {
		display: table-cell;
		border: none;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul {
		display: table;
		width: 100%;
		margin: 0 0 25px;
		border: none;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul li  a {
		display: block;
	}

	.woocommerce-account .woocommerce-MyAccount-content {
		width: 100%;
		margin-left: 0;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul li a:before {
		margin-right: 5px;
		opacity: 0.25;
	}

	.woocommerce-account input.woocommerce-Button.button {
		height: auto;
		margin-top: 10px;
		padding: 8px 37px;
		border: none;
		border-radius: 2px;
		color: #fff;
		background: rgba(17, 17, 17, 1);
		font-family: "Roboto Condensed", sans-serif;
		font-size: 11px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	.woocommerce-account input.woocommerce-Button.button:hover {
		background: rgba(17, 17, 17, 0.8);
	}

	.woocommerce-pagination {
		float: none;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li {
		margin: 2px 4px 10px 0 !important;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n) {
		margin-right: 0 !important;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(5n) {
		margin-right: 4px;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n+1),
	.single-product .woocommerce-product-gallery .flex-control-thumbs li:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) {
	.navbar-custom .navbar-cart {
		position: absolute;
		top: 12px;
		right: 35px;
	}

	.navbar-fixed-top .navbar-collapse {
		float: left;
		width: 100%;
	}

	.header-search {
		position: initial;
	}

	.header-search-input {
		width: 100%;
	}

	.navbar-custom .navbar-cart {
		position: initial;
		width: 70px;
		padding: 5px 0 5px 5px;
	}

	.navbar-cart {
		width: 80px;
	}

	.shop_isle_header_title {
		margin-left: 0;
	}

	.header-shopping-cart,
	.navbar-cart-inner:hover .header-shopping-cart {
		display: none;
	}

/* single product page */
	.woocommerce-tabs ul.tabs {
		border-bottom: 1px solid #ddd;
	}

	.woocommerce-tabs ul.tabs li.active a {
		border: 1px solid #ddd;
		border-bottom-color: transparent;
		background-color: #fff;
		cursor: pointer;
	}

	.woocommerce-tabs ul.tabs li a:hover {
		border-bottom-color: #eee;
	}

	.woocommerce-tabs ul.tabs li {
		margin-bottom: -1px;
	}

	.single-product div.product form.cart .button {
		width: 100%;
	}

	.single-product div.product form.cart .quantity {
		width: 100%;
		margin-bottom: 20px;
	}

	.single-product div.product form.cart .quantity input {
		width: 100%;
	}

	.single-product div.product .images img {
		width: 100%;
	}

	.single-product div.product .images,
	.single-product div.product .summary {
		float: left;
	}

	.single-product div.product .images,
	.single-product div.product .summary {
		width: 100%;
		padding: 0;
	}

	.single-product div.product form.cart .quantity {
		padding: 0;
	}

	#reviews .comment-form-author,
	#reviews .comment-form-email {
		width: 100%;
		padding: 0;
	}

	p.comment-form-rating {
		width: 100%;
		padding: 0;
	}

	.comment-form-rating {
		margin-bottom: 20px;
	}

	p.stars {
		padding: 0;
		text-align: left;
	}

	p.stars a {
		display: inline-block;
		font-size: 12px;
	}

/*+*/
	.woocommerce.single-product ul.products li.product {
		width: 100%;
	}

/* product list */
	.woocommerce ul.products li.product {
		width: 100%;
	}

	.woocommerce ul.products {
		float: none;
	}

	#latest .col-sm-6 {
		max-width: 370px;
		margin: auto;
	}

	#latest .shop-item {
		position: relative;
		width: 100%;
		max-width: 370px;
		margin: auto;
	}

	#latest .onsale {
		right: 3px;
	}

/* cart */
	.col2-set {
		width: 100%;
	}

	#order_review,
	#order_review_heading {
		width: 100%;
	}

	ul.order_details li {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	ul.order_details li:last-child {
		border-bottom: none;
	}

	ul.order_details {
		padding-left: 0;
	}

	.page-title ~ .woocommerce-error,
	.page-title ~ .woocommerce-info,
	.page-title ~ .woocommerce-message {
		width: 100%;
	}

	.woocommerce-page-title ~ .woocommerce-error,
	.woocommerce-page-title ~ .woocommerce-info,
	.woocommerce-page-title ~ .woocommerce-message {
		width: 90%;
	}

	.shop-item-image,
	.woocommerce ul.products li.product {
		float: none;
		max-width: 370px;
		margin: 25px auto;
	}

	.header-shopping-cart-wrap {
		position: absolute;
		top: 15px;
		right: 0;
	}

	.shop-with-sidebar {
		float: none !important;
	}

	.woocommerce .page-description,
	.woocommerce-breadcrumb,
	.woocommerce-ordering,
	.woocommerce-ordering select {
		float: initial;
	}

	.cart_totals h2,
	.cross-sells h2 {
		text-align: center;
	}

/*My Account Styling*/
	.woocommerce-account .woocommerce-MyAccount-navigation ul li {
		display: inline-block;
		min-width: 125px;
		border: none;
	}

	.woocommerce-account .woocommerce-MyAccount-navigation ul {
		display: table;
		width: 100%;
		margin: 0 0 25px;
		border: none;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs li:nth-child(4n),
	.single-product .woocommerce-product-gallery .flex-control-thumbs li {
		margin: 2px 4px 10px 0 !important;
	}

	.shop-with-sidebar,
	.sidebar-shop {
		width: 100%;
	}

	.sidebar-shop {
		padding-left: 15px;
	}

/*My Account Page Styling*/
	#customer_login .u-column1.col-1,
	#customer_login .u-column2.col-2 {
		width: 100%;
		margin-right: 0;
	}

	#customer_login .u-column1.col-1 {
		margin-bottom: 0;
		border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
	}
}

@media(min-width: 991px) and (max-width:1200px) {
	.added_to_cart {
		display: inline-block;
		margin-top: 15px;
		padding: 5px 10px;
	}
}

@media(max-width: 600px) {
	.woocommerce #content table.cart .product-thumbnail,
	.woocommerce table.cart .product-thumbnail,
	.woocommerce table.my_account_orders tr td.order-actions:before,
	.woocommerce-page #content table.cart .product-thumbnail,
	.woocommerce-page table.cart .product-thumbnail,
	.woocommerce-page table.my_account_orders tr td.order-actions:before {
		display: none;
	}

	.woocommerce-page .woocommerce .product-name a {
		float: left;
		font-size: 10px;
		line-height: 13px;
	}

	.woocommerce table.shop_table td .amount,
	.woocommerce table.shop_table td,
	.woocommerce table.shop_table td span,
	.woocommerce table.shop_table td a,
	.woocommerce table.shop_table td strong {
		font-size: 12px;
		line-height: 12px;
	}

	.woocommerce table.shop_table th {
		padding: 5px 5px;
		font-size: 10px;
	}

	.shop_table.cart,
	.shop_table.cart td,
	.shop_table.cart th {
		padding: 5px;
	}

	table.cart .quantity .qty {
		max-width: 40px;
	}

	table.cart td.actions .coupon {
		width: 100%;
	}

	table.cart td.actions input[name="coupon_code"],
	table.cart td.actions input[name="apply_coupon"] {
		width: 49%;
	}

	table.cart td.actions input[name="coupon_code"] {
		float: left;
	}

	table.cart td.actions input[name="apply_coupon"] {
		float: right;
		padding: 12px 0 10px 0;
	}

	table.cart td.actions input[name="update_cart"] {
		float: left;
		width: 100%;
		margin-top: 5px;
		padding: 10px 37px;
		font-size: 12px;
	}

	.cart-collaterals .cart_totals,
	.cart-collaterals .shipping_calculator {
		width: 100%;
	}

	.woocommerce-pagination {
		width: 100%;
	}

	.single-product .woocommerce-product-gallery .flex-control-thumbs {
		text-align: center;
	}
}

@media(max-width: 480px) {
	#shop-isle-checkout-coupon .checkout_coupon .form-row-first {
		margin-left: 0;
		padding-left: 0;
	}

	#shop-isle-checkout-coupon .checkout_coupon .form-row-last {
		width: 100%;
	}

	.woocommerce #shop-isle-checkout-coupon .form-row input[type="submit"] {
		width: 100%;
		max-width: 100%;
		margin-right: 0;
	}

	.cart-collaterals .cross-sells ul.products li.product {
		float: none !important;
		width: 100% !important;
		margin-right: auto !important;
		margin-left: auto !important;
	}

	.form-row-first,
	.form-row-last,
	.col2-set .form-row-first,
	.col2-set .form-row-last {
		width: 100%;
		margin-right: 0;
	}

/*My Account Styling*/
	.woocommerce-account .woocommerce-MyAccount-navigation ul li {
		width: 50%;
	}

	.woocommerce-account  .my_account_orders .button {
		display: block;
	}
}
